.menu .nav > li > ul { background: #0696d7; }
.menu { background: #fff; left: 15px; position: absolute; top: 90px; width: 100%; }
.menu .nav { float: none; }
.menu .nav > li > a { border-width: 2px; line-height: 40px; }
.menu .nav > li > ul > li.first { margin-right: 20px; }
.menu .nav > li > ul > li.last { width: 690px; }
.menu .dropdown-menu { position: relative; top: auto; }
.menu .nav > .dropdown > .home1 { display: none; }
.menu .nav .dropdown a.home2 { display: block; }