@font-face {
    font-family: 'TeX Gyre Heros';
    src: url('../fonts/texgyreheros-regular-webfont.eot');
    src: url('../fonts/texgyreheros-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/texgyreheros-regular-webfont.woff') format('woff'),
         url('../fonts/texgyreheros-regular-webfont.ttf') format('truetype'),
         url('../fonts/texgyreheros-regular-webfont.svg#texgyreherosregular') format('svg');
    font-weight: normal; font-style: normal;
}
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?v3270p');
	src:url('../fonts/icomoon.eot?#iefixv3270p') format('embedded-opentype'),
		url('../fonts/icomoon.woff?v3270p') format('woff'),
		url('../fonts/icomoon.ttf?v3270p') format('truetype'),
		url('../fonts/icomoon.svg?v3270p#icomoon') format('svg');
	font-weight: normal; font-style: normal;
}
[class^="icon-"], [class*=" icon-"], .menu-sidebar .nav ul a:before,
.menu-sidebar .nav ul a:before, .categories > li > a:before,
.pagination>li.prev>a:before,.pagination>li.next>a:before, .accordion-2 li a:before, .accordion-2 .active a:before { font-family: 'icomoon'; speak: none; font-style: normal; font-weight: normal;	font-variant: normal; text-transform: none;	line-height: 1;	-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.icon-youtube:before {
	content: "\e604";
}
.icon-home:before {
	content: "\f015";
}
.icon-caret-left:before,.pagination>li.prev>a:before {
	content: "\f0d9";
}
.icon-caret-right:before,.pagination>li.next>a:before {
	content: "\f0da";
}
.icon-angle-left:before {
	content: "\f104";
}
.icon-angle-right:before, .menu-sidebar .nav ul a:before, .accordion-2 li a:before {
	content: "\f105";
}
.icon-angle-up:before {
	content: "\f106";
}
.icon-angle-down:before,.categories > li > a:before, .accordion-2 .active a:before {
	content: "\f107";
}
.icon-facebook:before {
	content: "\e602";
}
.icon-twitter:before {
	content: "\e600";
}
.icon-linkedin:before {
	content: "\e603";
}
.icon-cross:before {
	content: "\e605";
}


body { color: #3e3e3e; font-family: 'TeX Gyre Heros', sans-serif; font-size: 14px; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-weight: 600; }
p { line-height: 1.6; }
a { color: #0dabd8; }
a:hover { text-decoration: none; }
a:focus { outline: none; }

.btn { font-family: 'TeX Gyre Heros', sans-serif; font-size: 13px; padding: 3px 15px 4px; }
.btn-lg, .btn-group-lg>.btn { padding: 10px 16px; font-size: 18px; line-height: 1.33; }
.btn-warning { background: #fbac1f; }
.btn-primary { background: #056089; }
.btn-danger { background: #f15540; }
.btn-danger:hover { background: #c7321e; }
.btn-1 { background: #fff; font-family: 'TeX Gyre Heros', sans-serif; border: 2px solid transparent; font-size: 13px; font-weight: bold; text-transform: lowercase; padding: 2px 20px 3px; transition: all .4s; }
.btn-1:hover { background: transparent; border-color: #fff; color: #fff; }
.selectpicker { padding: 6px 15px 7px; }
.selectpicker .caret { color: #9c9c9c; }
.btn-2 { background: #162632; color: #fff; font-family: 'Lato', sans-serif; font-size: 12px; font-weight: 600; line-height: 1.7; text-transform: uppercase; }
.btn-2:hover { background: #b92e2b; color: #fff; }
.btn-3 { color: #c63402; display: block; font-family: 'Arial', sans-serif; float: right; font-size: 12px; font-weight: bold; }
.btn-3:hover { color: #162632; }
.form-horizontal .control-label { text-align: left;}
.form-control { border: 1px solid #d8d8d8; box-shadow: none; border-radius: 0; height: 28px; }
.form-control:focus { border-color: #c7321e; outline: 0; -webkit-box-shadow: inset 0 1px 5px 0 #CECECE;	box-shadow: inset 0 1px 5px 0 #CECECE; font-weight: bold; color: #454545; }
.form-control:focus::-moz-placeholder { color: #454545; }
.form-control:focus::-webkit-placeholder { color: #454545; }
.form-control::-moz-placeholder { color: #7a7a7a; }
.form-control::-webkit-placeholder { color: #7a7a7a; }
.btn-info {
	background: #60abf8; /* Old browsers */
	background: -moz-linear-gradient(top,  #60abf8 0%, #07a6ed 0%, #0696d7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#60abf8), color-stop(0%,#07a6ed), color-stop(100%,#0696d7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #60abf8 0%,#07a6ed 0%,#0696d7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #60abf8 0%,#07a6ed 0%,#0696d7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #60abf8 0%,#07a6ed 0%,#0696d7 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #60abf8 0%,#07a6ed 0%,#0696d7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#60abf8', endColorstr='#0696d7',GradientType=0 ); /* IE6-9 */
	border: 1px solid #0682ba; font-size: 14px; padding: 2px 15px 3px; text-transform: uppercase;
}
.btn-default { border-color: #d8d8d8; }
.pagination { font-family: Arial, serif; font-size: 12px; font-weight: bold; }
.pagination>li.prev a { padding: 6px 6px 6px 8px; position: relative; }
.pagination>li.next a { padding: 6px 8px 6px 6px; position: relative; }
.pagination>li.prev a:before { position: absolute; left: 0; top: 9px; }
.pagination>li.next a:before { position: absolute; right: 0; top: 9px; }
.pagination>li>a, .pagination>li>span { border: none; color: #3e3e3e; padding: 6px; }
.pagination>li>a:hover, .pagination>li>span:hover, 
.pagination>li>a:focus, .pagination>li>span:focus,
.pagination>.active>a, .pagination>.active>span, 
.pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus, .pagination>li.next a { background: none; color: #c7321e; }

.dropdown-menu { -webkit-box-shadow: none; box-shadow: none; }
.dropdown-menu>li>a { padding: 4px 20px; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background: #0578ab; color: #fff; }

.m-left { margin-left: -15px; }
.p-left { padding-left: 0; }
.p-right { padding-right: 0; }

.header-container { background: #fff; box-shadow: 0 1px 5px 0 #888; left: 0; position: fixed; top: 0; width: 100%; z-index: 100; }
.header-container .container { position: relative; }
.navbar { border: none; margin-bottom: 0; /*min-height: 79px;*/ ;min-height: 0px;}
.navbar-brand { padding: 15px 0  5px; }
.navbar-toggle { background-color: #b92e2b; margin-top: 23px; }
.navbar-toggle .icon-bar { background: #fff; }

.menu .nav { float: right; font-family: 'Roboto Condensed', sans-serif; text-transform: uppercase; }
.menu .close-menu { display: none; }
.menu .nav > li { position: static; }
.menu .nav > li > a { border-bottom: 6px solid transparent; color: #3e3e3e; font-weight: 700; /*line-height: 73px*/; padding: 0 18px; }
.menu .nav > li > a:hover, .menu .nav > li > a:focus,
.menu .nav > .active a { border-bottom-color: #0696d7; background-color: transparent; color: #0696d7; text-decoration: none; }
.menu .nav ul { list-style: none; margin: 0; padding: 0; }
.menu .nav > li > ul > li { float: left; }
.menu .nav > li > ul > li.first { border: 1px solid #fff; margin-right: 30px; width: 198px; }
.menu .nav > li > ul > li.first img { display: block; margin: 0 auto; max-width: 100%; }
.menu .nav > li > ul > li.last { border-top: 1px solid #35b1ea; margin-top: 2px; padding-top: 15px; width: 990px; }
.menu .nav > li > ul > li li { padding: 5px 0; }
.menu .nav > li > ul > li ul { width: 25%; }
.menu .nav li ul { float: left;  }
.menu .nav > li > ul { background: rgba(6,150,215,.9); border: none; border-radius: 0; font-family: 'Lato', sans-serif; font-size: 14px; padding: 8px 11px; text-transform: capitalize; width: 100%; }
.menu .nav > li > ul:after { clear: both; content: ''; display: block; }
.menu .nav ul li a { color: #fff; position: relative; }
.menu .nav li.active ul li a { color: #fff; padding-bottom: 3px; transition: all .3s; -webkit-transition: all .3s; }
.menu .nav li.active ul li a:after,
.menu .nav ul li a:after { background: #f15540; bottom: -6px; content: ""; height: 2px; left: 0; position: absolute; transition: all .4s; width: 0; }
.menu .nav li.active ul li a:hover:after, 
.menu .nav ul li a:hover:after { width: 100%; }
.menu .nav .dropdown a.home2 { display: none; font-family: "Glyphicons Halflings"; font-style: normal; font-weight: 300; line-height: 1; position: absolute; right: 10px; top: 14px; }
.menu .nav .dropdown a.home2:before { content: "\2b"; }
.menu .nav .dropdown.open a.home2:before { content: "\2212"; }
.menu .nav .dropdown a.home2:hover, 
.menu .nav .dropdown a.home2:focus { border: none; }

.bn { background: #eee; color: #fff; font-family: 'Lato', sans-serif; position: relative; width: 100%; }
.bn img { width: 100%; }
.bn .carousel-caption { padding-bottom: 50px; }
.bn .content { font-size: 15px; margin: 0 auto; }
.bn h1 { border-bottom: 1px solid #fbac1f; border-top: 1px solid #fbac1f; display: inline-block; font-size: 39px; font-weight: 700; padding: 10px 0; }
.bn p { padding: 0 50px; }
.bn .btn { font-size: 11px; font-weight: 700; letter-spacing: 3px; padding: 4px 20px; }
#banner .carousel-indicators li { border: 2px solid #fff; border-radius: 0; height: 12px; width: 12px; }
#banner .carousel-indicators .active { background: rgba(114,114,113,0.7); margin: 1px; }

.bn-inner h1 { font-size: 45px; padding: 10px 80px; }
.bn-inner .carousel-caption { bottom: 20%; }

.title-1, .title-2, .title-5, .title-7 { font-family: 'Arial', sans-serif; font-weight: 700; position: relative; text-transform: capitalize; }
.title-1:after, .title-2:after { content: ''; height: 1px; position: absolute; }
.title-1 { font-size: 30px; margin: 0 0 30px 0; }
.title-1:after { background: #ac5c50; bottom: -15px; left: 50%; margin-left: -50px; width: 100px; }
.title-2 { border-bottom: 1px solid #d8d8d8; color: #0696d7; font-size: 22px; margin-bottom: 18px; padding-bottom: 7px; }
.title-2:after { background: #0696d7; bottom: -1px; left: 0; width: 50px; }
.title-3 { color: #b92e2b; font-family: 'Roboto Condensed', sans-serif; font-size: 15px; font-weight: 700; margin: 0 0 18px; text-transform: uppercase; }
.title-4 { color: #fff; font-size: 13px; font-weight: bold; margin: 0 0 10px; text-transform: uppercase; }
.title-5 { background: #f1553f; color: #fff; font-size: 22px; font-weight: 500; margin: 0; padding: 5px 10px 6px; }
.title-6 { color: #3e3e3e; font-family: 'Lato', sans-serif; font-size: 20px; font-weight: 700; margin: 0 0 15px; }
.title-7 { font-size: 20px; margin: 0 0 15px;  }
.title-8 { font-size: 14px; margin: 0 0 15px;  }

.breadcrumb { background: none; font-family: "Arial",Helvetica,Arial,sans-serif; font-size: 11px; margin-bottom: 10px; padding: 0; }
.breadcrumb a { color: #949494; }
.breadcrumb .icon { color: #3e3e3e; }
.breadcrumb .icon:hover { color: #f1553f; }
.breadcrumb>li+li:before { content: '»'; padding: 0 3px; }
.breadcrumb>.active { color: #f1553f;}

.main { margin-top: 70px; }
.wrapper { padding-top: 50px; padding-bottom: 60px; }
.wrapper .title-2 { margin: 0 0 30px; }
.image img { border: 1px solid #d9d9d9; display: block; max-width: 100%; }

.menu-sidebar .nav { font-family: 'TeX Gyre Heros', sans-serif; padding-top: 5px; }
.menu-sidebar .nav>li>a { border-bottom: 1px solid #ebebeb; color: #333; padding: 6px 15px 6px 28px; position: relative; }
.menu-sidebar .nav>li>a:after { background: url(../img/list-d.png) 0 0 no-repeat; content: ''; height: 9px; left: 11px; position: absolute; top: 12px; width: 10px; }
.menu-sidebar .nav>li>a:hover:after, .menu-sidebar .nav>li.active>a:after { background: url(../img/list-b.png) 0 0 no-repeat; }
.menu-sidebar .nav>li.active>a { font-weight: bold; }
.menu-sidebar .nav>li>a:hover, .menu-sidebar .nav>li>a:focus, .menu-sidebar .nav>li.active>a { background: #f3f3f3; color: #0696d7; }
.menu-sidebar .nav ul { border-bottom: 1px solid #ebebeb; font-size: 14px; list-style: none; padding: 10px 0 20px 30px; }
.menu-sidebar .nav ul a { color: #454545; display: block; padding: 4px 10px 4px 12px; position: relative; }
.menu-sidebar .nav ul a:before { font-size: 15px; font-weight: bold; left: 0; position: absolute; top: 7px; }
.menu-sidebar .nav ul a:hover, .menu-sidebar .nav ul .active a { color: #f15540; text-decoration: underline; }

.quick-link { font-size: 13px; list-style: none; margin: 30px 0 0; padding: 0; }
.quick-link:after { clear: both; content: ''; display: block; }
.quick-link li { background: #eff0f1; border: 1px solid #d9d9d9; margin-bottom: 17px; transition: all .3s; }
.quick-link img { display: block; float: left; width: 50%; }
.quick-link .desc { color: #454545; display: block; float: left; padding-top: 35px; text-align: center; width: 50%; }
.quick-link .desc span { display: block; }
.quick-link .desc strong { display: block; position: relative; }
.quick-link .desc strong:after { background: #999a9a; bottom: -5px; content: ''; height: 1px; left: 50%; margin-left: -37px; position: absolute; width: 74px; }
.quick-link li:hover { background: #b03616 url(../img/mask3.jpg) 0 0 repeat; border-color: #b03616; }
.quick-link li:hover .desc { color: #fff; }
.quick-link li:hover .desc strong:after { background: #fff; }

.main-wrap { float: right; padding-left: 50px; }
.document img { border: 1px solid #d8d8d6; display: block; margin-bottom: 20px; max-width: 100%; }
.document h5 { font-size: 15px; font-weight: bold; }
.document p { margin: 15px 0; }
.document ul { list-style-type: none; padding-left: 0; }
.document li { background: url(../img/list.png) 0 8px no-repeat; padding: 4px 10px 4px 25px; }
.document a { color: #242424; }
.document a:hover { color: #f1553f; }
.col-ul-1 { float: left; width: 35%; }
.col-ul-2 { float: left; width: 35%; }
.col-ul-3 { float: left; width: 30%; }

/* Form serch 1: home page, marketplace page */
.form-search { background: #73808b; border-radius: 5px; display: inline-block; padding: 4px; }
.form-search .form-group { display: block; float: left; margin-right: 2px; }
.form-search .form-control { border-color: #d6d6d6; height: 30px; margin-right: 2px; width: 100%; }
.form-search .form-control::-moz-placeholder { color: #9c9c9c; font-family: 'TeX Gyre Heros', sans-serif; font-style: italic; }
.form-search .form-control { color: #9c9c9c; font-family: 'TeX Gyre Heros', sans-serif; font-style: italic; }
.btn-search { background: #162632 url(../img/ico-search.png) center center no-repeat; float: right; padding: 8px 0 9px; text-indent: -9999px; width: 63px; }
.btn-search:hover { background-color: #f15540; }
.form-search-1 { width: 100%; }
.form-search-1 .form-control { border-color: #d6d6d6; height: 30px; margin-right: 2px; width: 230px; }
.form-search-1 .btn-search { background: #162632 url(../img/ico-search-2.png) center center no-repeat; padding: 4px 0 6px; width: 38px; }
.form-search-2 { display: block; }
.form-search-2 .form-group { width: 86.5%; }
.form-search-2 .form-control { width: 100%; }
.form-search-2 .btn-search { background: #162632; color: #fff; font-family: 'Lato', sans-serif; font-weight: 600; height: 30px; line-height: 27px; padding: 0 15px 0 10px; text-indent: inherit; text-transform: uppercase; position: relative; width: 13%; }
.form-search-2 .btn-search:hover { background-color: #f15540; }
.form-search-2 .btn-search:after { background: url(../img/ico-search-3.png) right center no-repeat; content: ''; display: block; height: 14px; position: absolute; right: 15px; top: 7px; width: 14px; }
/* Categories */
.categories { background: #0696d7; font-family: 'Lato', sans-serif; font-weight: 500; text-transform: uppercase; }
.categories > li > a { border-left: 1px solid #0578ab; color: #fff; padding: 9px 45px 9px 22px; position: relative; }
.categories > li > a:before { color: #6ac0e7; position: absolute; right: 20px; top: 10px; }
.categories > li.first > a { border-left: none; }
.categories>li>a:hover, .categories>li>a:focus,
.categories>li.open>a, .categories>li.open>a:hover, .categories>li.open>a:focus { background: #0578ab; }
.heading .categories { float: right; }

/* Accordion */
.accordion-2 li a { background: #f7f7f7 url(../img/list-d.png) 8px 14px no-repeat; color: #3e3e3e; font-family: 'Lato', sans-serif; font-size: 15px; font-weight: 600; margin-bottom: 10px; padding: 8px 30px; position: relative; text-transform: uppercase; }
.accordion-2 li a:before { color: #7fadc2; font-weight: bold; position: absolute; right: 16px; top: 10px; }
.accordion-2 li a:hover, .accordion-2 li a:focus, 
.accordion-2 .active a { background: #0696d7 url(../img/list-w.png) 8px 14px no-repeat; color: #fff; }
.accordion-2 li a:hover:before, .accordion-2 li a:focus:before, 
.accordion-2 .active a:before { color: #fff; }
.accordion-2 .content { padding: 20px 30px; }

.section { font-family: 'Lato', sans-serif; padding: 40px 0 50px; text-align: center; }

.who-we-are { background: #992718 url(../img/bgwho.jpg) 0 0 no-repeat; background-size: cover; color: #fff; }
.who-we-are .title-1:after { border-bottom: 1px solid #ac5c50; }
.who-we-are p, .why-choose p { font-size: 14px; margin: 0 10px 25px; }
.who-we-are .btn-1 { color: #f15540; }
.who-we-are .btn-1:hover { color: #fff; }

.what-we-do { background: #fff; }
.what-we-do .title-1 { color: #0696d7; }
.what-we-do .title-1:after { background: #d8d8d8; }
.what-we-do ul { list-style: none; margin: 0; padding: 0; }
.what-we-do li { padding-top: 20px; }
.what-we-do h3 { font-size: 22px; font-weight: 700; }
.what-we-do h3 a { color: #454545; }
.what-we-do h3 a:hover { color: #0696d7; }

.marketplace { background: #4c5053 url(../img/bgmark.jpg) no-repeat; background-size: cover; color: #fff; }
.marketplace .title-1:after { background: #6e7273; }
.marketplace p { font-size: 18px; margin-bottom: 17px; }
.marketplace .form-control { border-radius: 3px; height: 37px; width: 440px; }
.marketplace .form-search { margin-bottom: 10px; }
.marketplace .btn-join { font-size: 14px; padding: 5px 20px 6px; }
.pods { font-size: 15px; padding: 40px 0 50px; }
.pods .btn { border: none; }
.pods p { line-height: 1.1; }
.pods .services ul { float: left; font-size: 14px; font-family: 'TeX Gyre Heros', sans-serif; list-style: none; margin: 0 1% 0 0; padding: 0; width: 49%; }
.pods .services .list-services { height: 200px; }
.pods .services li { background: url(../img/list.png) 0 10px no-repeat; padding: 4px 0 4px 20px; }
.pods .services li a { color: #454545; }

.latest-product { font-family: 'TeX Gyre Heros', sans-serif; }
.list-latest { font-size: 15px; height: 200px; position: relative; width: 95%; }
.scroll-bar { position: relative; }
.scroll-bar .viewport { height: 190px; overflow: hidden; position: relative; }
.scroll-bar .overview { list-style: none; position: absolute; left: 0; top: 0; margin: 0; width: 100%; }
.scroll-bar .scrollbar { background: #d2d2d2; position: absolute; background-position: 0 0; right: -20px; top: 0; width: 1px; }
.scroll-bar .thumb { background: #d2d2d2; height: 20px; width: 5px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -2px; }
.scroll-bar .disable { display: none }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }

.list-latest .latest { border-bottom: 1px dashed #656565; margin-bottom: 15px; padding-bottom: 15px; }
.list-latest .image { border: 1px solid #d9d9d9; float: left; margin-right: 10px; width: 138px; }
.list-latest .image:hover { border-color: #444; }
.list-latest .image img { max-width: 100%; }
.list-latest .desc { margin-left: 148px; }
.list-latest h5 { font-weight: bold; margin: 0; }
.list-latest h5 a { color: #454545; }
.list-latest h5 a:hover { color: #0696d7; }

.training .content { height: 200px; }
.training img { margin-bottom: 10px; max-width: 100%; }

.why-choose { background: #05608c url(../img/bgwhy.jpg) 0 0 no-repeat; color: #fff; background-size: cover; }
.why-choose .title-1:after { background: #4489aa; }
.why-choose .btn-1 { color: #05638f; }
.why-choose .btn-1:hover { color: #fff; }

.clients .title-1 { color: #0696d7; }
.clients .title-1:after { background: #d8d8d8; }
.clients ul { list-style: none; margin: 0; padding: 0; }
.clients li { display: inline-block; padding: 10px 15px; }

.footer-container { background: #151515; color: #fff; font-family: "Arial", Helvetica,Arial,sans-serif; font-size: 11px; }
.footer-container .group { display: table; padding-bottom: 30px; padding-top: 30px; }
.footer-container a:hover { color: #b92e2b; text-decoration: none; }
.footer-container .list-link { list-style: none; margin: 0; padding: 0; }
.footer-container .list-link:after, .footer-container .group-1:after { clear: both; content: ''; display: block; }
.footer-container .list-link li { padding-bottom: 8px; }
.footer-container .group-1 { border-right: 1px solid #272727; display: table-cell; padding-right: 50px; vertical-align: top; }
.social { list-style: none; margin: 0 0 35px; padding: 0; }
.social li { margin-bottom: 12px; }
.social a { display: inline-block; padding-right: 20px; position: relative; transition: all .5s; }
.social a:after { clear: both; content: ''; display: block; }
.social [class*=icon-] { background: #c2c2c2; border-radius: 100%; color: #151515; display: block; float: left; font-size: 14px; height: 20px; line-height: 20px; text-align: center; width: 20px; }
.social .name { color: #fff; display: block; float: left; font-family: 'TeX Gyre Heros', sans-serif; margin: 2px 0 0 10px; }
.social li a:hover { border-radius: 20px; color: #fff; }
.social li:nth-child(1) a:hover .icon-facebook { background: #3a589b; color: #fff; }
.social li:nth-child(2) a:hover .icon-twitter { background: #00aced; color: #fff; }
.social li:nth-child(3) a:hover .icon-youtube { background: #d40000; color: #fff; }
.social li:nth-child(4) a:hover .icon-linkedin { background: #006599; color: #fff; }
.subcribe .title-4 { margin-bottom: 22px; }
.subcribe form { position: relative; overflow: hidden; }
.subcribe .form-control { border-radius: 0; border: 1px solid #b5b5b5; height: 32px; width: 190px; }
.subcribe .btn { border: none; border-radius: 0; font-family: 'TeX Gyre Heros',sans-serif; margin-left: -3px; padding: 7px 15px; text-transform: uppercase; }

.group-links { border-left: 1px solid #101010; display: table-cell; padding: 0 20px 0 60px; vertical-align: top; }

.group-links ul { font-size: 13px; font-weight: bold; text-transform: uppercase; }
.group-links a { color: #fff; }
.group-links-2 { display: table-cell; padding-left: 30px; vertical-align: top; }
.group-links-2, .group-links-2 a { color: #9c9c9c; }
.group-links-3 { display: table-cell; padding-left: 30px; vertical-align: top; }
.group-links-3 .title-4 { font-weight: normal; }
.group-links-3, .group-links-3 a { color: #9c9c9c; }
.copyright { background: #0d0d0d; padding: 18px 0; text-align: center; }
.copyright p { margin: 0; line-height: 1.8; padding: 0 20px; }
.copyright a { color: #fff; }
.verz { background: url(../img/logo-verz.png) right 3px no-repeat; color: #b92e2b; padding-right: 32px; }

.about-page { font-family: 'TeX Gyre Heros', sans-serif; font-size: 14px; }
.section-1 { border-bottom: 1px solid #ededed; margin-bottom: 10px; padding-bottom: 38px; }
.section-1 .image { padding-left: 0; }
.section-1 .desc { margin-top: -5px; padding-right: 0; text-align: justify; }
.section-1 p { font-weight: bold; }
.section-2 { background: #f7f7f7; margin-bottom: 10px; padding: 30px 10px 40px; text-align: center; }
.section-2 h5 { color: #0696d7; font-weight: bold; line-height: 1.6; margin: 0 0 20px; padding: 0 20px; }
.section-2 ul { list-style: none; margin: 0; padding: 0; text-align: left; }
.section-2 li { background: url(../img/list-2.png) 0 5px no-repeat; color: #f26b58; display: inline-block; float: none; padding: 0 10px 0 18px; }
.section-3 { border-top: 1px solid #ededed; color: #3e3e3e; padding-top: 25px; }

.register-page .image img { border: none; max-width: 100%; }
.form-register h5 { margin: 0; }
.form-register-2 h5 { margin: 0 0 15px; }
.form-register-2 h5 span { font-weight: normal; }
.form-register-2 .selectpicker { border-radius: 0; padding: 3px 15px 4px; }
.form-register .title-7 { margin-bottom: 20px; }
.form-register .forgot-pass { display: block; margin-top: 8px; }
.form-register .form-horizontal { background: #f7f7f7; border-radius: 5px; font-family: 'TeX Gyre Heros', sans-serif; margin-right: 30px; padding: 20px 40px; }
.form-register .form-horizontal .control-label { text-align: left; font-weight: normal; }
.form-register .form-btn .btn { font-weight: bold; text-shadow: 1px 1px 1px #545454; }
.register-page .captcha { margin-top: 20px; padding: 0 15px; }
.captcha .col-1 { float: left; width: 38%; }
.captcha .col-1 img {max-width: 100%; }
.captcha .col-2 { float: left; margin-top: -5px; padding-right: 0; width: 62%; }
.captcha .col-2 label { font-size: 12px; }
.captcha .col-3 { float: right; width: 18%; }
.captcha .btn-info { margin-right: 0; padding: 10px 0; width: 100%; }
.captcha a { font-weight: bold; }

.sub-capbaliti-page p { margin-bottom: 20px; }
.sub-capbaliti-page .btn-danger { padding-left: 30px; padding-right: 30px; }
.sub-capbaliti-page .desc { padding-left: 0; }

.list-market { list-style: none; margin: 0; padding: 0; text-align: center; }
.list-market li { border: 1px solid #d9d9d9; float: left; margin: 20px 12px 20px; width: 223px; }
.list-market li a { display: block; }
.list-market li .image { display: table-cell; vertical-align: middle; width: 223px; }
.list-market li img { border: none; display: block; max-height: 100%; margin: 0 auto; vertical-align: middle; }
.list-market li:hover { border-color: #c7321e; }
.list-market .info { background: #eff1f1; display: block; padding: 15px; transition: all .5s; }
.list-market .name { color: #454545; display: block; font-family: 'Lato', sans-serif; font-size: 15px; }
.list-market .desc { color: #0696d7; display: block; font-size: 15px; }
.list-market li:hover .info { background: #c7321e url(../img/mask.jpg) repeat; }
.list-market li:hover .name { color: #fff; }
.list-market li:hover .desc { color: #f9c9bb; }
.market-page .pagination { float: right; margin: 0 15px 20px; }
.market-page .heading .pagination { margin-bottom: 0; margin: 0; }
.market-page .heading .group-2 { margin-bottom: 20px; margin-top: 20px; }
.market-page .filter .col-md-4 { padding-right: 0; margin-bottom: 10px; }
.market-page .file-upload { float: right; }
.market-page .btn-default { float: right; }
.market-page .group-2 .btn { padding: 5px 15px 7px; }
.file-upload .btn-default { background: #edeff0; }

.market .content { margin-left: -15px; margin-right: -15px; margin-top: 50px; }
.items { border-top: 1px solid #f2f2f2; margin-top: 40px; padding-top: 30px; }
.items .col-md-6 { padding-left: 0; }
.items .title-7 { margin-bottom: 25px; }
.items ul { font-family: 'TeX Gyre Heros', sans-serif; list-style: none; margin: 0; padding: 0; }
.items li { float: left; margin-right: 20px; text-align: center; width: 29%; }
.items li .image { border: 1px solid #d9d9d9; margin-bottom: 10px; text-align: center; width: 100%; }
.items li .image img { border: none; margin: 0 auto; }
.items li h5 { color: #0696d7; font-size: 13px; margin: 0; }
.items li h5 a { color: #0696d7; }
.items li p { font-size: 12px; }
.items .recommended { border-left: 1px solid #ededed; float: right; padding-left: 50px; }
.tab-content>.tab-pane { border: 1px solid #d9d9d9; border-top: none; padding: 25px 30px; }
.nav-tabs>li>a { background: #f7f7f7; border: 1px solid #d9d9d9; border-radius: 3px 3px 0 0; color: #3e3e3e; margin-right: 0; padding: 6px 15px; }
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus { color: #0696d7; }
.market .description { margin-bottom: 30px; }
.market .description p { margin: 0; }
.market .description .name { color: #0696d7; font-size: 15px; }
.market .btn-view3d { float: right; }
.btn-view3d { background: #c43219 url(../img/3d3.png) 33px 7px no-repeat; box-shadow: 0 4px 0 0 #9d2210; color: #fff; font-family: 'Lato', sans-serif; margin-top: -8px; padding: 5px 40px 4px 55px; }
.btn-view3d:hover { background-color: #9d2210; color: #fff; }
.btn-down { float: right; margin-top: 15px; }
.btn-down .btn { padding: 4px 15px 5px }
.btn-enquiry { float: right; margin-top: 10px; }
.market .social-share { float: right; margin-top: 14px; }
.group-action { float: right; }
.market .connected-carousels { width: 100%; }

.header { border-bottom: 1px solid #d8d8d8; margin-bottom: 30px; position: relative; }
.header:before { background: #0696d7; bottom: -1px; content: ''; height: 1px; left: 0; position: absolute; width: 50px; }
.header .title-2 { border: none; margin-bottom: 0; }
.header .title-2:after { display: none; }
.user-profile { float: right; margin-top: 18px; }
.user-profile > a { font-size: 16px; color: #333; }
.user-profile .glyphicon { font-size: 18px; padding-left: 5px; position: relative; top: 4px; }
.user-profile .dropdown-menu { left: auto; right: 0; top: 32px; }

.form-register-1 .form-horizontal { margin: 0 0 0 20px; }
.form-register-1 { border-left: 1px solid #ededed; }
.form-register-1 .address input { margin-bottom: 15px; }
.form-register-1 .address { margin-bottom: 0; }
.form-register-1 .group .promo-lb { padding-left: 0; padding-right: 0; }
.form-register-1 .group .promo-txt { padding-left: 0; }
.form-register-1 .btn { float: right; margin-right: 15px; padding: 8px 25px; }

.training-page .intro { padding-right: 30px; }
.training-page .intro .desc { padding-left: 5px; text-align: justify; }
.dates:after { clear: both; content: ''; display: block; }
.dates .title { background: #0696d7; color: #fff; cursor: pointer; font-family: 'Lato', sans-serif; font-size: 15px; font-weight: 600; padding: 8px 20px; text-transform: uppercase; }
.dates ul { list-style: none; margin: 15px 0 15px 15px; padding: 0; }
.dates ul:after { clear: both; content: ''; display: block; }
.dates li { background: url(../img/list.png) 0 8px no-repeat; color: #3e3e3e; float: left; padding: 4px 10px 4px 25px; width: 32%; }
.dates li a { color: #3e3e3e; cursor: pointer; }
.dates li a:hover { color: #f15540; }
.tb-course { margin-top: 20px; }

.upload-page .heading { margin-bottom: 40px; }
.upload-page img { max-width: 100%; }

.list-service { list-style: none; margin: 0; padding: 0; }
.list-service li { border: 1px solid #d9d9d9; float: left; margin-right: 24px; margin-bottom: 20px; width: 31.6%; }
.list-service li a { display: block; }
/*.list-service li img { height: 130px; width: 100%; }*/
.list-service li span { background: #eceeef; color: #454545; display: block; font-family: 'Lato', sans-serif; font-size: 13px; padding: 11px 10px 17px; position: relative; text-align: center; }
.list-service li.last { margin-right: 0; }
.list-service li span:after { background: #9a9b9b; bottom: 15px; content: ''; height: 1px; left: 50%; margin-left: -50px; position: absolute; width: 100px; }
.list-service li:hover { border: 1px solid #9b210e; }
.list-service li:hover span { background: #b03717 url(../img/mask.jpg) 0 0 repeat; color: #fff; }
.list-service li:hover span:after { background: #d99c8c; }
.other-service .title { background: #eff1f1; border: 1px solid #d9d9d9; font-family: 'Lato', sans-serif; font-size: 18px; font-weight: 600; margin: 35px 0; padding: 7px 10px; text-align: center; }
.list-other-service { list-style: none; margin: 0 -15px 0 0; padding: 0; }
.list-other-service li { float: left; margin: 0 14px 15px 0; width: 190px; }
.list-other-service img { border: 1px solid #d9d9d9; display: block; max-width: 100%; }
.list-other-service h5 { font-size: 13px; margin: 5px 0; text-align: center; text-decoration: underline; }
.list-other-service a { color: #3e3e3e; }
.list-other-service a:hover { color: #f15540; }

.calendar-page .pagination { float: right; }
.calendar .tb-month { background: #0696d7; border: 1px solid #d9d9d9; border-bottom: none; color: #fff; padding: 17px 20px; position: relative; }
.calendar .tb-month h2 { font-family: 'Lato', sans-serif; font-size: 24px; margin: 0 auto; text-align: center; text-transform: uppercase; width: 70%; }
.calendar .tb-month .prev, .calendar .tb-month .next { background: #fff;-webkit-border-radius: 100%; -moz-border-radius: 100%; -ms-border-radius: 100%; -o-border-radius: 100%; border-radius: 100%; color: #0696d7; display: block; font-size: 17px; height: 30px; line-height: 32px; position: absolute; text-align: center; top: 15px; width: 30px; }
.calendar .tb-month .prev { left: 25px; }
.calendar .tb-month .next { right: 25px; }
.tb-calendar { border-top: none !important; width: 100%; }
.tb-calendar th { background: #33b7f3; color: #fff; font-family: 'Lato', sans-serif; font-size: 14px; text-align: center; text-transform: uppercase; }
.tb-calendar td { width: 14%; }
.tb-calendar .number { display: block; font-family: 'Lato', sans-serif; font-size: 20px; font-weight: bold; margin-bottom: 25px; margin-right: 10px; text-align: right; }
.tb-calendar .disable { background: #fff; color: #a9a9a9; }
.tb-calendar .have-task { background: #fafafa; }
.tb-calendar .have-task span { color: #c7321e; }
.tb-calendar p { background: url(../img/list.png) 0 6px no-repeat; cursor: pointer; font-family: 'TeX Gyre Heros', sans-serif; padding-left: 15px; }
.calendar-page .btn-3 { margin-bottom: 20px; }
.calendar-page .btn-training { margin-left: 30px; }
.calendar-page .dates  { margin-bottom: 20px; padding-bottom: 20px; }
.calendar-page .dates .image { margin-top: 20px; }
.calendar-page .dates li { float: none; width: auto; }

.form-upload .form-group { margin-left: 0; margin-right: 0; }
.form-upload .form-group .note { font-style: italic; font-size: 12px; }
.form-upload .kv-fileinput-upload .glyphicon,
.form-upload .btn-file .glyphicon { display: none; }
.form-upload .file-input { display: block; margin-bottom: 10px; overflow: inherit; }
.form-upload .input-group { border-radius: 3px; display: block; width: 100%; }
.form-upload .input-group .form-control { border-radius: 5px 0 0 5px; border: 5px solid #d1dbe3; height: 38px; }
.form-upload .input-group:after { clear: both; content: ''; display: block; }
.form-upload .file-caption { display: block; float: left; width: 58%; }
.form-upload .input-group-btn { display: block; float: right; width: 42% }
.form-upload .kv-fileinput-upload { border-radius: 4px !important; float: right; font-weight: 600; margin-left: 4px !important; margin-right: 0; margin-top: 0; padding: 8px 18px; text-shadow: 0 1px 1px #5d5d5d; }
.form-upload .btn-file { box-shadow: 0 0 0 5px #d1dbe3; border-radius: 3px !important; float: left; height: 28px; margin-left: 0 !important; margin-top: 5px; }
.form-upload .file-caption-name { color: #9c9c9c; font-style: italic; font-size: 12px; line-height: 1.4; }
.form-upload .file-caption .glyphicon { margin-top: 0; }

.group-upload { width: 100%; }
.form-upload .group { margin-top: 15px; }
.form-upload .group .note { margin-right: 140px; }
.group-upload .form-control { border: 5px solid #d1dbe3; border-radius: 5px; float: left; height: 38px; width: 47%; }
.group-upload .file-input { float: right; width: 53%; }
.group-upload .file-input .input-group  { float: right; }
.group-upload .input-group-btn .btn-file { float: right; margin-right: 5px; }
.group-upload .file-caption { margin-right: 5px; padding: 6px 0; text-align: right; width: 56%; }
.group-upload .file-caption:focus { box-shadow: none; }
.group-upload .input-group .form-control { background: none; border: none; }
.group-upload .glyphicon-file { display: none !important; }
.group-upload .file-caption-name { color: #555; font-style: normal; line-height: 1.2; padding: 4px 5px; }

.library-page .form-search-2 { margin-bottom: 20px; }
.menu-category { border: 1px solid #d9d9d9; }
.menu-category .title-5 { border: 1px solid #ad210e; font-size: 18px; }
.menu-category .nav { margin: 0 6px; padding: 0; }
.menu-category .scroll-bar { margin: 15px 0; }
.menu-category .scrollbar { right: 10px; top: 0; }
.menu-category .overview { width: 95%; }
.menu-category .viewport { height: 556px; }
.type-search { list-style: none; margin: 0; padding: 0; }
.type-search .title { background: #0696d7; border: 1px solid #056a97; color: #fff; font-family: 'Lato', sans-serif; font-weight: 600; padding: 4px 15px; text-transform: uppercase; }
.type-search > li { float: left; margin-right: 2%; padding: 0; width: 49% }
.type-search > .file-type { margin-right: 0; }
.type-search .scroll-bar { border: 1px solid #d9d9d9; border-top: none; padding: 10px 6px; }
.type-search .scrollbar { right: 10px; top: 10px; }
.type-search .viewport { height: 150px; width: 95%; }
.type-search .nav>li>a { color: #3e3e3e; padding: 4px 14px; }
.type-search .nav>li>a:hover, .type-search .nav>li>a:focus, 
.type-search .nav>.active>a { background: #f3f3f3; font-weight: bold; }
.search-result { margin-top: 20px; }
.search-result .heading { margin-bottom: 20px; }
.search-result .heading .title-7 { float: left; margin-top: 8px; }
.search-result .heading .pagination { float: right; margin: 0; }
.list-search-result .head { background: #f7f7f7; border: 1px solid #d9d9d9; padding: 5px 13px; }
.list-search-result .title { font-family: 'TeX Gyre Heros', sans-serif; float: left; font-weight: bold; margin: 0; }
.list-search-result .caret { border-width: 3px; }
.list-search-result .info { padding: 20px 0; }
.list-search-result .group { margin-bottom: 20px; }
.list-search-result .version h5 { margin: 0; }

.service-page .form-horizontal { margin-right: 0; padding: 20px 30px; }
.service-page .main-wrap { padding-left: 30px; }
.service-page .info { text-align: justify; }
.service-page .form-group .form-group { margin-left: 0; margin-right: 0; }
.gallery-1 { border-top: 1px solid #f2f2f2; margin-top: 35px; padding-top: 35px; }
.list-grallery { font-size: 13px; list-style: none; margin: 30px -20px 0 0; padding: 0; text-align: center;  }
.list-grallery li { float: left; margin-right: 20px; margin-bottom: 40px; width: 161px; }
.list-grallery li img { border: 1px solid #d9d9d9; width: 100%; }
.list-grallery li span, .list-grallery li strong { display: block; text-transform: capitalize; }
.list-grallery li .desc { color: #3e3e3e; padding-top: 10px; }
.list-grallery li a:hover .desc { color: #b92e2b; }
.gallery-2 img { height: 123px; }

.slider-fancybox { height: 0; overflow: hidden; width: 580px; }
.fancybox-outer .slider-fancybox { height: 580px; }
#carousel-gallery { padding-bottom: 20px; }
.gallery-slider .connected-carousels .carousel li { height: auto !important; }
.gallery-slider .carousel-inner>.item { border: 2px solid #d9d9d9; padding: 2px; }
.gallery-slider .carousel-control { font-size: 50px; top: 38%; width: 10%; }
.gallery-slider .carousel-indicators { bottom: 0; left: 0; margin: 20px 0; position: static; width: 100%; }
.gallery-slider .carousel-inner>.item>img, .gallery-slider .carousel-inner>.item>a>img { width: 100%; }
.gallery-slider .carousel-control.left { background: none; }
.gallery-slider .carousel-control.right { background: none; }
.gallery-slider .carousel-indicators li { background: #fff; border: 2px solid #d9d9d9; border-radius: 0; margin: 0 5px; padding: 2px; text-indent: inherit; width: 162px; }
.gallery-slider .carousel-indicators li img { height: 100%; width: 100%; }

.map { border: 1px solid #d9d9d9; height: 313px; width: 100%; }
.map h1 { font-size: 18px; margin: 0 0 5px; }
.map p { margin: 0; }
.contact-info { font-size: 12px; margin-top: 30px; }
.contact-info h5 { font-size: 13px; margin: 14px 0 0 0; position: relative; text-transform: uppercase; }
.contact-info > h5 { color: #b92e2b; }
.contact-info .address h5:after { background: url(../img/address.png) 0 0 no-repeat; content: ''; height: 11px; left: -14px; position: absolute; top: 1px; width: 9px; }
.contact-info p span { display: block; padding-left: 17px; }
.contact-info .tel { background: url(../img/phone.png) 0 5px no-repeat; }
.contact-info .fax { background: url(../img/print.png) 0 5px no-repeat; }
.contact-info .mail { background: url(../img/mail.png) 0 6px no-repeat; }
.contact-info .mail a { color: #454545; }
.contact-info .mail a:hover { color: #0696d7; }
.form-contact textarea { height: 100px; }
.form-contact .captcha { margin-bottom: 0; }
.form-contact .captcha h5 { margin: 0; }
.form-contact .captcha .col-1 { width: 33%; }
.form-contact .captcha .col-2 { width: 46%; }
.form-contact .captcha .col-3 { margin-top: 6px; }
.form-contact.form-upload .file-caption { width: 83%; }
.form-contact.form-upload .input-group-btn { width: 17%; }
.form-contact .bootstrap-select.btn-group .btn .filter-option { color: #7a7a7a; font-size: 14px; }
.form-contact .selectpicker { border-radius: 0; padding: 3px 15px 4px; }

.download-history, .upload-history { margin-top: 20px; }
.list-download-history, .list-upload-history { list-style: none; margin: 0; padding: 0; }
.list-download-history li, .list-upload-history li { border-bottom: 1px solid #ddd; border-top: 1px solid #ddd; margin: 15px 0; padding: 15px 0; }
.list-download-history .image,
.list-upload-history .image { padding-left: 0; }
.list-download-history .button { padding-top: 30px; }
.upload-header .sort-by { font-weight: bold; }
//update mind3f
.list-service li{
    height: 240px !important;
}
.list-service li img{
    /*height: 225px !important;*/
    width: 100%;
}
/* Responsive */
@media (min-width: 1400px) {
	.container { width: 1240px; }
	#banner .content { width: 525px; }
	.bn-inner img { min-height: 100px; }
	.who-we-are p, .why-choose p { margin: 0 100px 25px; }
}
@media (max-width: 1380px) {
	.menu .nav > li > a { padding: 0 14px; }
	.menu .nav > li > ul > li.last { width: 918px; }
	.list-service li { width: 22%; }
	.list-other-service li { width: 178px; }
	.categories > li > a { padding: 9px 40px 9px 17px; }
	.form-search-1 .form-control { width: 210px; }
	.list-market li {  width: 210px; }
	.form-upload .file-caption { width: 55%; }
	.form-upload .input-group-btn { width: 45%; }
	.form-contact .captcha .col-1 { width: 36%; }
	.form-contact .captcha .col-1 img { width: 100%; }
	.form-contact .captcha .col-2 { width: 43%; }

	.group-upload .form-control { width: 44%; }
	.group-upload .file-input { width: 56%; }
	.form-upload .file-caption { width: 53%; }
}
@media (max-width: 1270px) {
	.market-page .group-1 .col-md-3,
	.upload-page .group-1 .col-md-3 { float: none; margin-bottom: 15px; text-align: center; width: 100%; }
	.market-page .form-search-1, .upload-page .form-search-1 { width: auto; }
	.market-page .group-1 .col-md-9, .upload-page .group-1 .col-md-9 { float: none; width: 100%; }
	.list-market li, .list-market li .image { width: 268px; }
}
@media (min-width: 1201px) { 
	.menu .nav > li:hover ul { display: block; }
}
@media (max-width: 1200px) {
	.navbar-header { float: none; }
	.navbar-toggle { display: block; }
	.navbar-nav { float: none; margin: 0; }
	.menu .nav .dropdown a.home2 { display: block; }
	.menu.navbar-collapse { background: #c7eeff; }
	.menu .nav { float: none; }
	.menu .navbar-nav > li { float: none; }
	.navbar-collapse.collapse { display: none !important; }
	.navbar-collapse.collapse.in { display: block !important; }

	.menu { background: #B92E2B; display: block; height: 100% !important; right: 0; position: fixed; overflow-x: scroll; top: 0; transition: all .5s; -webkit-transition: all .5s; width: 0; z-index: 9999; }
	.menu .nav > li > a { border: none; color: #fff; }
	.menu .nav > li > a:hover, 
	.menu .nav > li > a:focus, 
	.menu .nav > .active > a { background: #A51B18; color: #fff; }
	.header-open { left: 0; }
	.header-open .menu { width: 300px; }
	.close-menu { color: #c7321e; cursor: pointer; display: block; font-size: 30px; right: -100%; position: fixed; top: 15px; }
	.menu .close-menu { display: block; }
	.header-open .close-menu { right: 320px; }
	.menu .nav > li > ul {}
	.menu .nav > li > a { border-width: 2px; line-height: 40px; }
	.menu .nav > li > ul > li.first { margin-right: 20px; width: 100%; }
	.menu .nav > li > ul > li.last { width: 100%; }
	.menu .nav > li > ul > li ul { width: 100%; }
	.menu .dropdown-menu { position: relative; top: auto; }
	.bn-inner .carousel-caption { bottom: 5%; }
	.bn-inner h1 { font-size: 38px; }
	
	.quick-link .desc { padding: 5px 3px 0 3px; }

	.main-wrap { padding-left: 20px; }
	.pods .services ul { width: 100%; }

	.footer-container .group-1 { padding-right: 20px; }
	.footer-container .group-links { padding-left: 30px; }
	.subcribe .form-control { width: 153px; }

	/* Library */
	.form-search-2 .form-group { margin-bottom: 0; width: 81.5%; }
	.form-search-2 .btn-search { width: 18%; }

	/* Service */
	.list-grallery li { width: 155px; }
	.gallery-slider .carousel-indicators li { width: 123px; }

	.group-upload .form-control { width: 100%; }
	.group-upload .file-input { margin-top: 10px; width: 100%; }
	.form-upload .file-caption { width: 53%; }
        .list-service li { width: 21%; }
}   
@media (max-width: 1024px) { 
	/*.sidebar { float: none; width: 100%; }*/
        .sidebar{display: none};
	.main-wrap { float: none; margin-top: 30px; padding: 0 15px; width: 100%; }
	.menu-category .viewport { height: 140px; }
	.quick-link li { float: left; width: 49%; }
	.quick-link .side-train { margin-right: 2%; }
	.quick-link .desc { padding-top: 45px; }

	.footer-container [class*=group-] { display: block; margin-bottom: 30px; padding: 0; width: 100%; }
	.footer-container .group-1 { border: none; } 
	.footer-container .follow { float: left; width: 40%; }
	.footer-container .subcribe { float: right; width: 58%; }
	.footer-container .social { margin-bottom: 0; }
	.footer-container .list-link li { float: left; width: 50%; }
	.footer-container .group-1 .form-inline .form-group { float: left; }
	.subcribe .btn { float: left; }
	.subcribe .form-control { width: 240px; }

	/* Service */
	.list-grallery { margin-right: 0; }
	.list-grallery li { width: 160px; }
	.list-service li { width: 30%; }
	.list-other-service li { width: 177px; }
	.gallery-slider .carousel-indicators li { width: 171px; }

	/* Market */
	.list-market li, .list-market li .image { width: 299px; }
	.market .connected-carousels .stage { width: 100%; }
	.market .connected-carousels .navigation { width: 100%; }

	.form-contact.form-upload .file-caption { width: 77%; }
	.form-contact.form-upload .input-group-btn { width: 23%; }
}
@media (max-width: 990px) {
	.navbar { min-height: 68px; }
	.navbar-brand img { width: 138px; }
	.navbar-toggle { margin-top: 16px; }
	#banner h1 { font-size: 28px; }
	#banner p { padding: 0; }
	#banner .carousel-caption { padding-bottom: 20px; }
	.bn-inner .carousel-caption { bottom: -10px; }
	.bn-inner h1 { font-size: 30px; padding: 8px 40px; }
	.menu .nav > li > ul > li.last { margin-top: 20px; }
	.carousel-indicators { bottom: 0; }
	.main { margin-top: 68px; }
	.pods .services ul { width: 49%; }
	.latest-product { margin: 30px 0; }
	.form-register { margin-top: 40px; }
	.sub-capbaliti-page .desc { margin-top: 20px; padding-left: 15px; }
	.service-page .main-wrap { padding-left: 15px; }

	/* About page */
	.section-1 .desc { margin-top: 15px; padding-left: 0; }
	.section-2 ul { text-align: center; }
	.section-2 li { margin-bottom: 8px; }

	/* Service */
	.list-grallery li { width: 210px; }
	.training-page .intro .image { margin-bottom: 10px; }
	.training-page .intro .desc { padding-left: 15px; }
	.list-service li { height: auto; width: 29%; }
	.list-service li img { height: auto; }
	.list-other-service li { width: 231px; }
	.list-other-service li img { width: 100%; }
	.categories>li { float: left; width: 50%; }
	.categories>li > a { border-bottom: 1px solid #0578ab; }
	.market-page .filter .col-md-4 { padding-right: 15px; }
	.desciption { margin-top: 20px; }
	.gallery-slider .carousel-indicators li { width: 127px; }

	.market .connected-carousels .stage { width: 370px; }
	.market .connected-carousels .navigation { width: 330px; }
	.group-action { float: left; margin-top: 15px; }
	.market .btn-view3d { float: left; margin-top: 0; margin-right: 10px; }
	.btn-down { margin-top: 0; }
	.market .social-share { float: left; }

	.map { margin-top: 30px; }

	.group-upload .form-control { width: 44%; }
	.group-upload .file-input { width: 56%; }
	.form-upload .file-caption { width: 53%; }
}
@media (max-width: 767px) { 
	.list-search-result .info .desc { margin: 15px 0; }
	/* Service */
	.list-grallery li { width: 154px; }
	.heading .categories { float: none; margin: 0 }
	.heading .categories a { border-top: 1px solid #0578ab; }
	.market-page .form-search .form-group { margin-bottom: 0; }
	.list-market li, .list-market li .image { width: 224px; }
	.gallery-slider .carousel-indicators li { margin-bottom: 10px; width: 115px; } 
        .list-service li { width: 45%; }
	.gallery-slider .connected-carousels .stage .carousel li { width: 665px; }
	.gallery-slider .connected-carousels .carousel-navigation li { width: 116px; }
}
@media (max-width: 640px) { 
	.container>.navbar-header { background: #fff; box-shadow: 0 1px 5px 0 #020203; left: 0; margin: 0; position: fixed; width: 100%; z-index: 1000; }
	.navbar { min-height: 44px; }
	.navbar-brand { height: auto; padding: 5px 0 0 15px; }
	.navbar-brand img { width: 108px; }
	.navbar-toggle { margin-top: 9px; padding: 7px 8px; }
	.navbar-nav .open .dropdown-menu { background: rgba(6, 150, 215, 0.9);  }
	.close-menu { top: 1px; }

	.main { margin-top: 47px; }
	.carousel-indicators { display: none; }
	#banner .carousel-caption { padding-bottom: 0; }
	#banner h1 { font-size: 20px; }
	#banner p { font-size: 13px; padding: 0; }
	.bn-inner .carousel-caption { bottom: -30px; }
	.bn-inner h1 { font-size: 25px; padding: 5px 20px; }
	
	.market-page .heading .pagination { margin: 0 0 15px 0; }
	.pagination>li>a, .pagination>li>span { border: 1px solid #ddd; margin: 0 2px; padding: 6px 12px; }
	.pagination>.next>a, .pagination>.next>span,
	.pagination>.prev>a, .pagination>.prev>span { border: none; }

	.marketplace .form-group { float: left; margin: 0 3px 0 0; }
	.marketplace .form-control { width: 340px; }

	.col-ul-1, .col-ul-2, .col-ul-3 { float: none; width: 100%; }

	.subcribe .form-control { width: 190px; }

	.form-search-2 .form-group { margin-bottom: 0; width: 78.5%; }
	.form-search-2 .btn-search { width: 21%; }

	/* Service */
	.list-grallery li { width: 167px; }
	.list-service li { margin: 0 2% 20px; width: 46%; }
	#slider { width: 100%; }
	.gallery-slider .carousel-indicators { display: block; } 
	.gallery-slider .carousel-indicators li { margin-bottom: 10px; width: 115px; }
	.gallery-slider .connected-carousels .stage .carousel li { width: 610px; }
	.gallery-slider .connected-carousels .carousel-navigation li { width: 104px; } 
	.gallery-slider .connected-carousels .stage .carousel li { width: 570px; }

	.dates li { width: 100%; }
	.form-register-1 .group .promo-txt, .form-register-1 .group .promo-lb { padding-left: 15px; }
}
@media (max-width: 568px) { 
	.menu .nav > li > ul > li.last { width: 520px; }
	#banner p { display: none; }
	.quick-link .desc { padding-top: 25px; } 
	.list-search-result .title { float: none; }
	.list-search-result .btn-3 { display: block; float: none; margin-top: 8px; }
	.form-register .form-horizontal { padding: 10px 15px; }
	.subcribe .form-control { width: 140px; }
	.form-search-2 .form-group { margin-bottom: 0; width: 70.5%; }
	.form-search-2 .btn-search { width: 28%; }

	/* Service */
	.list-grallery li { width: 187px; }
	.list-market li { width: 200px; }
	.list-service li { margin: 0 0 30px; width: 100%; }

	.gallery-slider .connected-carousels .stage .carousel li { width: 498px; }
	.gallery-slider .connected-carousels .carousel-navigation li { width: 87px; } 
	.gallery-slider .connected-carousels .next-navigation, .connected-carousels .prev-navigation { top: 30%; }

	.calendar-page .dates li { width: 100%; }

	.categories>li { float: none; width: 100%; }
}
@media (max-width: 480px) { 
	.bn-inner .carousel-caption { bottom: -40px; }
	.bn-inner h1 { font-size: 20px; padding: 5px 10px; }

	.quick-link li { float: none; margin-right: 0; width: 100%; }
	.quick-link .desc { padding-top: 65px; }
	.type-search > li { float: none; margin-right: 0; margin-bottom: 15px; width: 100%; }

	.footer-container .follow { width: 100%; }
	.subcribe .form-control { width: 200px; }
	.subcribe .btn { right: 60px; }
	.footer-container .list-link li { width: 100%; }
	.footer-container .subcribe { float: none; width: 100%; }
	
	.form-register .form-horizontal { margin-right: 0; }
	.form-register h3 { font-size: 20px; }
	.form-register .col-1, .form-register .col-2, .form-register .col-3 { margin-bottom: 10px; padding: 0; width: 100%; }

	/* Service */
	.list-grallery li { width: 175px; }
	.gallery-slider .connected-carousels .stage .carousel li { width: 450px; }
	.gallery-slider .connected-carousels .carousel-navigation li { width: 72px; } 
	.gallery-slider .connected-carousels .next-navigation, .connected-carousels .prev-navigation { top: 24%; }
	
	.form-contact.form-upload .file-caption { width: 67%; }
	.form-contact.form-upload .input-group-btn { width: 33%; }
	.form-contact .captcha .col-1 { float: none; margin-bottom: 8px; }
	.form-contact .captcha .col-2 { width: 75%; }
	.form-contact .captcha .col-3 { width: 21%; }

	.group-upload .form-control { width: 100%; }
	.group-upload .file-input { margin-top: 10px; width: 100%; }
	.form-upload .file-caption { width: 53%; }

	.items li { margin-right: 18px; }
	.items .recommended { padding-left: 0; }
}
@media (max-width: 360px) {
	.header-open .menu { width: 250px; }
	.header-open .close-menu { right: 270px; }
	#banner .carousel-caption { bottom: 10px; }
	#banner h1 { font-size: 15px; }
	.bn-inner .carousel-caption { bottom: -50px; }
	.bn-inner h1 { font-size: 14px; padding: 3px 10px; }
	.quick-link .desc { padding-top: 45px; }
	.marketplace .form-control { width: 254px; }
	.pods .services ul { width: 100%; }
	.subcribe .form-control { width: 160px; }
	.form-search-2 .form-group { margin-bottom: 0; width: 61.5%; }
	.form-search-2 .btn-search { width: 37%; }

	/* Service */
	.list-grallery li { margin-right: 0; width: 100%; }
	.list-market { margin: 0 15px; }
	.list-market li { margin: 0 0 20px; width: 100%; }
	.gallery-slider .connected-carousels .stage .carousel li { width: 330px; }
	.gallery-slider .connected-carousels .carousel-navigation li { width: 48px; } 
	.gallery-slider .connected-carousels .next-navigation, .connected-carousels .prev-navigation { top: 10%; }

	.market .connected-carousels .stage { width: 280px; }
	.market .connected-carousels .carousel li { width: 278px; }
	.market .connected-carousels .navigation { width: 270px; }
	.market .connected-carousels .next-navigation, .connected-carousels .prev-navigation { top: 35%; }
	.market .connected-carousels .carousel-navigation li { height: 54px; line-height: 54px; width: 59px; }

	.items li { width: 44%; }

	.market .btn-view3d { float: none; }
	.btn-down { float: none; margin-top: 15px; width: 100%; }
}
@media (max-width: 320px) {
	.marketplace .form-control { width: 214px; }
	.fancybox-outer #slider { height: 300px; }
	.gallery-slider .connected-carousels .stage .carousel li { width: 250px; }
	.gallery-slider .connected-carousels .navigation { width: 205px; }
	.gallery-slider .connected-carousels .carousel-navigation li { width: 53px; } 
	.gallery-slider .connected-carousels .next-navigation, .connected-carousels .prev-navigation { top: 10%; }
	.form-upload .file-caption { width: 51%; }
	.items li { width: 43%; }
}