.grid-view .summary {
	margin-bottom: 10px;
}

.grid-view tr.selected  td {
	background-color: #d9edf7;
}

.errorMessage, span.required {
	color: red;
}

.navbar-nav > .normal-menu > .dropdown-menu > li a {
	color: #444 !important;
}
/*
.main-sidebar, .left-side {
  width: 130px;
}

.content-wrapper, .right-side, .main-footer {
  margin-left: 130px;
}

.main-header > .navbar {
  margin-left: 130px;
}

.main-header .logo {
    width: 130px;
    float: left;
}
*/