
.thumbnail{
    position: relative !important;
    width: 160px;
    text-align: center;
    display: inline-block;
    margin-right:10px;
    vertical-align: top;
}


.thumbnail button:hover{
    background-position: 0px !important;
    cursor: pointer !important;
}

.thumbnail button{
    position: absolute !important;
    background: url(../images/delete.png) no-repeat;
    border: medium none;
    height: 24px;
    width: 24px;
    right: 0px;
    top: 0px;
    cursor: pointer !important;
}

.thumbnail input{
    position: absolute !important;
    border: medium none;
    top: 100px;
    left:5px;
    cursor: pointer !important;
}


button.img-del2{
    background: url(../images/delete-icon2.png) no-repeat;
    border: medium none;
    height: 15px;
    width: 15px;
    right: 0px;
    top: 0px;
    cursor: pointer !important;
}

button.img-del2:hover{
    background: url(../images/delete-icon2.png) no-repeat;
    border: medium none;
    height: 15px;
    width: 15px;
    right: 0px;
    top: 0px;
    cursor: pointer !important;
}

ul#video-data-detail li{
    background: none; 
    width: 180px; 
    height:150px; 
    float: left; 
    margin-left: 0px;
    margin-right: 10px;
    margin-bottom: 10px;
}





button.del_clip_video{
    background: url(../images/delete-icon-40x40.png) no-repeat;
    position: absolute;
    border: medium none;
    height: 40px;
    width: 40px;
    right: -6px;
    top: 0px;
    cursor: pointer !important;
    z-index: 9999;
}

button.del_clip_video:hover{
    background: url(../images/delete-icon-40x40.png) no-repeat;
    position: absolute;
    border: medium none;
    height: 40px;
    width: 40px;
    right: -6px;
    top: 0px;
    cursor: pointer !important;
    z-index: 9999;
}

.export-excel{
    margin: 0 0 10px 10px;
}

div#package-detail {
    width:56%;
    float:right;
}

#tab-order-details{
    position: relative;
}

.editor-width-50 .col-sm-3{
    width:50%;
}

.table-width-50{
    width:50%;
}

.thumbnail button {
    position: absolute !important;
    background: url(../images/delete-icon.png) no-repeat;
    border: medium none;
    height: 24px;
    width: 24px;
    right: 0px;
    top: 0px;
    cursor: pointer !important;
}

table.order-detail-table {
    width: 100%;
}

div#package-detail-body th {
    border-bottom: 2px solid #bbb;
    padding: 5px 10px;
    text-align: right;
}

div#package-detail-body td {
    padding: 5px 10px;
}
tbody#list-items {
    border-bottom: 2px solid #bbb;
}

span.delete-package-item {
    font-size: 21px;
    font-weight: bolder;
    float: right;
    cursor: pointer;
    color: red;
}

div.detail-order-left{
    width:42%;
    float:left;
}

tbody#list-items tr {
    border-bottom: 1px solid #eee;
}

.align-left{
    text-align:left !important;
}

.align-right{
    text-align:right !important;
}

#footer-item tr{
    border-bottom: 1px solid #eee;
}

#footer-item tr:last-child{
    border: none;
}

.msg-error {
    color: red;
    font-size: 12px;
    font-weight: normal;
}

.msg-success{
    color: #3c763d;
    font-size: 12px;
    font-weight: normal;
}

#select-location ul{
    width:300px
}

.thumbnail .img-del {
    position: absolute !important;
    background: url(../images/delete-icon.png) no-repeat;
    border: medium none;
    height: 24px;
    width: 24px;
    right: 0px;
    top: 0px;
    cursor: pointer !important;
}

table#option_list {
    width: 100%;
    margin-bottom: 10px;
}

.delete_option {
    color: red;
    font-weight: bold;
    width: 4%;
    font-size: 17px;
    text-align: center;
}

.delete_option:hover{
    cursor: pointer;
}

table#option_list tr {
    border-bottom: 1px solid #eee;
}

table#option_list tr:last-child {
    border-bottom: none;
}

td.option_content {
    padding: 10px 0px 10px 10px;
    font-size: 13px;
}

.date_picker_width{
    width: 86%;
    float: left;
}

.is_current{
    width: 92% !important;
    float:right;
    margin-top: 4px;
}


/*Galary*/

.thumbnail img{
    margin-bottom: 5px;
}

.line {
    width: 100%;
    border-bottom: 1px solid #bbb;
    margin: 10px 0px;
}