.grid-view .summary {
	margin-bottom: 10px;
}

.grid-view tr.selected  td {
	background-color: #d9edf7;
}

.errorMessage, span.required {
	color: red;
}

.navbar-nav > .normal-menu > .dropdown-menu > li a {
	color: #444 !important;
}