/* 
    Created on : Dec 17, 2014, 9:47:21 AM
    Author     : haidt
*/

.hidden_link{
    display: none;
}

.errorMessage{
    color: red;
}

.menu .nav > li > ul > li p{
    margin-bottom: 0;
}

.alert-success-sv {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    display:none;
}

.alert-sv{
    padding: 5px;
    margin-bottom: 3px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.fancybox img:hover {
	cursor: pointer;
}
.required > .required{
    color: red;
}