/**/
/*!
 * Bootstrap-select v1.6.2 (http://silviomoreto.github.io/bootstrap-select/)
 *
 * Copyright 2013-2014 bootstrap-select
 * Licensed under MIT (https://github.com/silviomoreto/bootstrap-select/blob/master/LICENSE)
 */
.bootstrap-select { /*width: 220px\9; IE8 and below*/ width: 220px \0; /*IE9 and below*/ }
.bootstrap-select > .btn { width: 100%; padding-right: 25px; }
.error .bootstrap-select .btn { border: 1px solid #b94a48 }
.control-group.error .bootstrap-select .dropdown-toggle { border-color: #b94a48 }
.bootstrap-select.fit-width { width: auto !important }
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) { width: 100% }
.bootstrap-select .btn:focus { outline: thin dotted #333333 !important; outline: 5px auto -webkit-focus-ring-color !important; outline-offset: -2px; }
.bootstrap-select.form-control { margin-bottom: 0; padding: 0; border: none; }
.bootstrap-select.form-control:not([class*="col-"]) { width: 100% }
.bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] { float: none; display: inline-block; margin-left: 0; }
.bootstrap-select.btn-group.dropdown-menu-right, .bootstrap-select.btn-group[class*="col-"].dropdown-menu-right, .row-fluid .bootstrap-select.btn-group[class*="col-"].dropdown-menu-right { float: right }
.form-search .bootstrap-select.btn-group, .form-inline .bootstrap-select.btn-group, .form-horizontal .bootstrap-select.btn-group, .form-group .bootstrap-select.btn-group { margin-bottom: 0 }
.form-group-lg .bootstrap-select.btn-group.form-control, .form-group-sm .bootstrap-select.btn-group.form-control { padding: 0 }
.form-inline .bootstrap-select.btn-group .form-control { width: 100% }
.input-append .bootstrap-select.btn-group { margin-left: -1px }
.input-prepend .bootstrap-select.btn-group { margin-right: -1px }
.bootstrap-select.btn-group > .disabled { cursor: not-allowed }
.bootstrap-select.btn-group > .disabled:focus { outline: none !important }
.bootstrap-select.btn-group .btn .filter-option { display: inline-block; overflow: hidden; width: 100%; text-align: left; color: #9c9c9c; }
.bootstrap-select.btn-group .btn .caret { position: absolute; top: 50%; right: 12px; margin-top: -2px; vertical-align: middle; }
.bootstrap-select.btn-group[class*="col-"] .btn { width: 100% }
.bootstrap-select.btn-group .dropdown-menu { min-width: 100%; z-index: 1035; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.bootstrap-select.btn-group .dropdown-menu.inner { position: static; border: 0; padding: 0; margin: 0; border-radius: 0; -webkit-box-shadow: none; box-shadow: none; }
.bootstrap-select.btn-group .dropdown-menu li { position: relative }
.bootstrap-select.btn-group .dropdown-menu li:not(.disabled) a:hover small, .bootstrap-select.btn-group .dropdown-menu li:not(.disabled) a:focus small, .bootstrap-select.btn-group .dropdown-menu li.active:not(.disabled) a small { color: #64b1d8; color: rgba(100, 177, 216, 0.4); }
.bootstrap-select.btn-group .dropdown-menu li.disabled a { cursor: not-allowed }
.bootstrap-select.btn-group .dropdown-menu li a { cursor: pointer }
.bootstrap-select.btn-group .dropdown-menu li a.opt { position: relative; padding-left: 2.25em; }
.bootstrap-select.btn-group .dropdown-menu li a span.check-mark { display: none }
.bootstrap-select.btn-group .dropdown-menu li a span.text { display: inline-block }
.bootstrap-select.btn-group .dropdown-menu li small { padding-left: 0.5em }
.bootstrap-select.btn-group .dropdown-menu .notify { position: absolute; bottom: 5px; width: 96%; margin: 0 2%; min-height: 26px; padding: 3px 5px; background: #f5f5f5; border: 1px solid #e3e3e3; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); pointer-events: none; opacity: 0.9; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.bootstrap-select.btn-group .no-results { padding: 3px; background: #f5f5f5; margin: 0 5px; }
.bootstrap-select.btn-group.fit-width .btn .filter-option { position: static }
.bootstrap-select.btn-group.fit-width .btn .caret { position: static; top: auto; margin-top: -1px; }
.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark { position: absolute; display: inline-block; right: 15px; margin-top: 5px; }
.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text { margin-right: 34px }
.bootstrap-select.show-menu-arrow.open > .btn { z-index: 1035 + 1 }
.bootstrap-select.show-menu-arrow .dropdown-toggle:before { content: ''; border-left: 7px solid transparent; border-right: 7px solid transparent; border-bottom-width: 7px; border-bottom-style: solid; border-bottom-color: #cccccc; border-bottom-color: rgba(204, 204, 204, 0.2); position: absolute; bottom: -4px; left: 9px; display: none; }
.bootstrap-select.show-menu-arrow .dropdown-toggle:after { content: ''; border-left: 6px solid transparent; border-right: 6px solid transparent; border-bottom: 6px solid white; position: absolute; bottom: -4px; left: 10px; display: none; }
.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:before { bottom: auto; top: -3px; border-bottom: 0; border-top-width: 7px; border-top-style: solid; border-top-color: #cccccc; border-top-color: rgba(204, 204, 204, 0.2); }
.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:after { bottom: auto; top: -3px; border-top: 6px solid white; border-bottom: 0; }
.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:before { right: 12px; left: auto; }
.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:after { right: 13px; left: auto; }
.bootstrap-select.show-menu-arrow.open > .dropdown-toggle:before, .bootstrap-select.show-menu-arrow.open > .dropdown-toggle:after { display: block }
.bs-searchbox, .bs-actionsbox { padding: 4px 8px }
.bs-actionsbox { float: left; width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.bs-actionsbox .btn-group button { width: 50% }
.bs-searchbox + .bs-actionsbox { padding: 0 8px 4px }
.bs-searchbox input.form-control { margin-bottom: 0; width: 100%; }
.mobile-device { position: absolute; top: 0; left: 0; display: block !important; width: 100%; height: 100% !important; opacity: 0; }
/*!
 * @copyright Copyright Â© Kartik Visweswaran, Krajee.com, 2014
 * @package bootstrap-fileinput
 * @version 2.4.0
 *
 * File input styling for Bootstrap 3.0
 * Built for Yii Framework 2.0
 * Author: Kartik Visweswaran
 * Year: 2014
 * For more Yii related demos visit http://demos.krajee.com
 */
.file-input { overflow-x: auto }
.file-loading { top: 0; right: 0; width: 25px; height: 25px; font-size: 999px; text-align: right; color: #fff; background: transparent url('../img/loading.gif') top left no-repeat; border: none; }
.btn-file { position: relative; overflow: hidden; }
.btn-file input[type=file] { position: absolute; top: 0; right: 0; min-width: 100%; min-height: 100%; text-align: right; opacity: 0; filter: alpha(opacity=0); opacity: 0; background: none repeat scroll 0 0 transparent; cursor: inherit; display: block; }
.file-caption .glyphicon { display: inline-block; min-width: 18px; float: left; margin-top: 2px; }
.file-caption-name { display: inline-block; float: left; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; width: 85%; }
.file-error-message { background-color: #f2dede; color: #a94442; text-align: center; border-radius: 5px; padding: 5px; }
.file-caption-disabled { background-color: #EEEEEE; cursor: not-allowed; opacity: 1; }
.file-input .btn[disabled], .file-input .btn .disabled { cursor: not-allowed }
.file-preview { border-radius: 5px; border: 1px solid #ddd; padding: 5px; width: 100%; margin-bottom: 5px; }
.file-preview-frame { /*display: table;*/ margin: 8px 25px 8px 8px; /* height: 160px;*/ border: 1px solid #ddd; box-shadow: 1px 1px 5px 0px #a2958a; padding: 6px; /* float: left;*/ text-align: center; }
.file-preview-frame:hover { background-color: #eee; box-shadow: 2px 2px 5px 0px #333; }
.file-preview-image { height: 160px; vertical-align: text-center; }
.file-preview-text { width: 100% !important; height: 50px !important; color: #428bca; font-size: 11px; text-align: center; }
.file-preview-other { display: table-cell; width: 160px; height: 160px; font-family: Monaco, Consolas, monospace; font-size: 11px; vertical-align: middle; text-align: center; }
.file-input-new .file-preview, .file-input-new .close, .file-input-new .glyphicon-file, .file-input-new .fileinput-remove-button, .file-input-new .fileinput-upload-button { display: none }
.loading { background: transparent url('../img/loading.gif') no-repeat scroll center center content-box !important }
.wrap-indicator { font-weight: bold; color: #245269; cursor: pointer; }
/** Carousel **/
.jcarousel { margin-top: 10px; position: relative; overflow: hidden; width: 100%; }
.jcarousel ul { width: 20000em; position: relative; list-style: none; margin: 0; padding: 0; }
.jcarousel li { background: none; margin-right: 2px; width: 106px; float: left; }
.jcarousel li:before { display: none !important }
.jcarousel img { display: block; max-width: 100%; height: auto !important; }
/** Carousel Controls **/
.jcarousel-control-prev:link, .jcarousel-control-prev:visited, .jcarousel-control-next:link, .jcarousel-control-next:visited, .jcarousel-prev:link, .jcarousel-prev:visited, .jcarousel-next:link, .jcarousel-next:visited { position: absolute; top: 50%; margin-top: -12px; width: 22px; height: 22px; color: #fff !important; background: #b4cd41 no-repeat 0 0; border-radius: 3px; color: #fff; text-align: center; line-height: 16px; font-size: 28px; -webkit-transition: background-color 500ms linear; -moz-transition: background-color 500ms linear; -o-transition: background-color 500ms linear; -ms-transition: background-color 500ms linear; transition: background-color 500ms linear; }
.jcarousel-control-prev:hover, .jcarousel-control-next:hover, .jcarousel-prev:hover, .jcarousel-next:hover { background-color: #000 }
.jcarousel-control-prev, .jcarousel-prev { left: 0 }
.jcarousel-prev, .jcarousel-next { -sand-transform: rotate(-90deg); -moz-transform: rotate(-90deg); -o-transform: rotate(-90deg); -webkit-transform: rotate(-90deg); transform: rotate(-90deg); -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=-1.8369701987210297e-16, M12=-1, M21=1, M22=-1.8369701987210297e-16, SizingMethod='auto expand')"; }
.jcarousel-control-next, .jcarousel-next { right: 0 }
/** Stage container **/
.connected-carousels .stage { width: 100%; position: relative; }
.market .connected-carousels .stage { margin: 0 auto; width: 370px; }
.market .connected-carousels .carousel li { border: none;float: left; text-align: center; margin: auto; padding: 0; width: 380px;} 
.connected-carousels .photo-credits { position: absolute; right: 15px; bottom: 0; font-size: 13px; color: #fff; opacity: .66; }
.connected-carousels .photo-credits a { color: #fff }
/** Navigation container **/
.connected-carousels .navigation { margin: 10px 20px; position: relative; }
/** Shared carousel styles **/
.fancybox-type-iframe .fancybox-skin { margin: 0 auto; width: 610px !important; }
.fancybox-type-iframe .fancybox-inner { width: 580px !important; }
.gallery-slider { width: 580px;}
.connected-carousels .carousel { overflow: hidden; position: relative; }
.connected-carousels .carousel ul { width: 20000em; position: relative; list-style: none; margin: 0 auto; padding: 0; }
.connected-carousels .carousel li { border: 2px solid #d9d9d9; padding: 2px; float: left; text-align: center; margin: auto; width: 580px; }
.connected-carousels .carousel li img { width: 100% }
/** Stage carousel specific styles **/
.connected-carousels .carousel-stage { width: 100% }
.market .connected-carousels .carousel-stage { border: 1px solid #eaeaea; }
/** Navigation carousel specific styles **/
.connected-carousels .carousel-navigation { width: 100% }
.market .connected-carousels .navigation { width: 330px; margin: 30px auto; position: relative; }
.connected-carousels .carousel-navigation li { cursor: pointer; background: #fff; border: 2px solid #d9d9d9; border-radius: 0; margin: 0 5px; padding: 2px; text-indent: inherit; width: 97px; }
.market .connected-carousels .carousel-navigation li { border: 1px solid #eaeaea; cursor: pointer; height: 60px; line-height: 60px; margin: 0 11px 0 0; overflow: hidden; padding: 0; text-align: center; width: 73px; }
.connected-carousels .carousel-navigation li.last { margin-right: 0 }
.connected-carousels .carousel-navigation li:hover, .connected-carousels .carousel-navigation li.active { border-color: #c7321e }
/** Stage carousel controls **/
.connected-carousels .prev-stage, .connected-carousels .next-stage { display: block; position: absolute; top: 50%; width: 22px; height: 22px; color: #fff; }
.connected-carousels .prev-stage { left: 10px }
.connected-carousels .next-stage { right: 10px }
.connected-carousels .prev-stage.inactive, .connected-carousels .next-stage.inactive { display: none }
.connected-carousels .prev-stage span, .connected-carousels .next-stage span { display: none; position: absolute; top: 0; width: 22px; height: 22px; text-align: center; background: #b4cd41; color: #fff; text-decoration: none; font: 24px/17px Arial, sans-serif; border-radius: 3px; }
.connected-carousels .prev-stage span { left: 0 }
.connected-carousels .next-stage span { right: 0 }
.connected-carousels .prev-stage:hover span, .connected-carousels .next-stage:hover span { display: block }
.market .connected-carousels .prev-navigation, .market .connected-carousels .next-navigation { height: 16px; line-height: 16px; }
/** Navigation carousel controls **/
.connected-carousels .prev-navigation, .connected-carousels .next-navigation { display: block; position: absolute; width: 16px; height: 30px;  background: #c7321e; color: #fff; text-align: center; text-decoration: none; font: 16px/30px Arial, sans-serif; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.connected-carousels .prev-navigation:hover, .connected-carousels .next-navigation:hover { background-color: #000 }
.connected-carousels .prev-navigation { left: -20px; top: 34%; }
.connected-carousels .next-navigation { right: -20px; top: 34%; }
.connected-carousels .prev-navigation.inactive, .connected-carousels .next-navigation.inactive { opacity: 0; cursor: default; }
/*New for galleries*/
.bg-mask {background: url(../js/fancybox/fancybox_overlay.png) repeat 0 0;top: 0;display: none;left: 0;position: fixed;right: 0;top: 0;z-index: 99;}
.slider-box {position: absolute;z-index: 1000;background: white;padding: 20px;border-radius: 5px;}
