.select2-dropdown .select2-search__field:focus, .select2-search--inline .select2-search__field:focus {
  border: none;
}

.select2-container--default .select2-selection--multiple {
  height: auto;
}

label > .required{
    color: red;
}

.errorMessage{
    color: red !important;
}

/*sample detail*/
.table.table-hover.sample-item th {
    vertical-align: middle;
}

.item-list .form-control {
  border: medium none;
  height: 20px;
  padding: 0;
}

.company-thumb h4 {
  font-weight: bold;
  margin: 2px 0 5px;
}

/*sample comment*/
.comments {
	max-height: 500px;
}

.user-menu {
  border: 1px solid #dd4b39;
}

.user-footer {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/*sample grid*/
.linkable {
	cursor: pointer;
}
tr.item> td:first-child{
 width:55%;
}
