
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.input-sm, .form-horizontal .form-group-sm .form-control {
    border-radius: 2px;
    font-size: 12px;
    height: 25px;
    line-height: 1.5;
    padding: 3px 3px;
}

.form-horizontal .control-label {
    margin-bottom: 0;
    padding-top: 7px;
    font-size: 11px;
    text-align: left;
}

.search-form .form-horizontal .control-label {
    margin-bottom: 0;
    padding-top: 7px;
    font-size: 11px;
    text-align: right;
}

.form-control{box-shadow: none;}

div.form input[type=text], div.form input[type=password],
div.form textarea,
div.form select
{
    margin: 0.2em 0 0.3em 0;
    border: #CDCDCD solid 1px;
    padding: 3px;
}

div.form fieldset
{
    border: 1px solid #DDD;
    padding: 10px;
    margin: 0 0 10px 0;
    -moz-border-radius:7px;
}

div.form .row label
{
    font-size: 12px;
    float:left;
    min-width: 130px;
    width:auto
}

div.form .row .col1
{
    text-align: center;
    width: 221px;
}

div.form .row_align label
{
    font-weight: bold;
    font-size: 0.9em;
    display: block;
    float:none;
    display: inline-block;
}


div.form .row
{
    margin: 5px 0;
}

div.form .col
{
    with: 45%;
    float: left;
    margin-right: 4% !important
}

div.form .row_align
{
    padding: 0px 0px 0px 110px;
}


div.form .hint
{
    margin: 0;
    padding: 0;
    color: #999;
}

div.form .note
{
    font-style: italic;
}

div.form .center{text-align: center}

div.form span.required
{
    color: red;
}

div.form div.error label:first-child,
div.form label.error,
div.form span.error
{
    color: #C00;
}

div.form div.error input,
div.form div.error textarea,
div.form div.error select,
div.form input.error,
div.form textarea.error,
div.form select.error
{
    background: #FEE;
    border-color: #C00;
}

div.form div.success input,
div.form div.success textarea,
div.form div.success select,
div.form input.success,
div.form textarea.success,
div.form select.success
{
    background: #E6EFC2;
    border-color: #C6D880;
}


div.form .errorSummary
{
    border: 2px solid #C00;
    padding: 7px 7px 12px 7px;
    margin: 0 0 20px 0;
    background: #FEE;
    font-size: 0.9em;
}

div.form .errorMessage
{
    color: red;
    font-size: 12px;
    font-weight: normal;
}

div.form .errorSummary p
{
    margin: 0;
    padding: 5px;
}

div.form .errorSummary ul
{
    margin: 0;
    padding: 0 0 0 20px;
}

div.form .buttons
{
    padding-left: 130px;
}

.buttons .btn-submit input { background:url(../images/bg-btn.png) repeat-x; }

.form .image-watermark {
    width:250px;
    padding:5px;
    float:left;
}

div.form input[type= submit],
div.form input[type= button],
div.form input[type= reset],
div.form input[type= file]{
    min-width: 80px;
    min-height: 25px;
    padding: 0px;
}

div.form .buttons2{
    padding-left: 0px;
}

/*additional css*/

.short-text{width:135px !important;}
.menus-role-list{float:left;}
.clr{clear:both;}
.rolepermission{width:350px;}
/* Nguyen Dung add for multiselect */
.group_subscriber .fix-label label {width: auto !important;} 
.group_subscriber .fix-label input {margin-right: 8px;} 
.group_subscriber .fix-label  label,.group_subscriber .fix-label input  {display: inline !important;} 
/* Nguyen Dung add for multiselect */

/* Jason */

.ajaxHtmlOptions {
    border: 1px solid #CDCDCD;
    display: block;
    margin-left: 121px;
    /*max-width: 500px;*/
    max-width: 473px;
    padding: 10px;
    position: relative;
}

.ajaxData {
    border: 1px solid #CDCDCD;
    display: block;
    margin-left: 121px;
    padding: 10px;
    position: relative;
}

.row input[type="text"], .row input[type=password] {
    /*width:400px;*/
    min-width: 200px;
}
/**/
.w500{
    width: 500px;
}